PACTO_API_BASE_URL=https://pacto-api.duckdns.org
NEXT_PUBLIC_PACTO_API_BASE_URL=https://pacto-api.duckdns.org
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBClKuRlwN4NX0zjEqTu-U9kWN7THA4Z1g
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=pacto-prod-8e5f1.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=pacto-prod-8e5f1
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=pacto-prod-8e5f1.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=926946718943
NEXT_PUBLIC_FIREBASE_APP_ID=1:926946718943:web:1d5336bbcb0e7401ed256a
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BOcyJb1AQ4R1tMn_2_3w14VcwwVT2U1PlyC-P8GUVZG9v8pu3f_fso6bE01v02ahkR4ZzaN_JCAY1X1dppI3L2k
